<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- sqlConnection = new SqlConnection("Data Source='" + tcp:PPYCHA,49172 + "'; Initial Catalog='" + SrisDb + "'; Persist Security Info=True; User ID=miso_server; Password='miso4321'"); -->
  <!--  <add name="ServiceRequestInformationSystem.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=PPYCHA;Integrated Security=true;Initial Catalog=SrisDb" providerName="System.Data.OleDb"/> -->
    <add name="SrisContext" connectionString="Data Source=tcp:192.168.0.100,49172;Initial Catalog=TestSrisDb;Persist Security Info=true; User ID=miso_server; Password='miso4321' " providerName="System.Data.SqlClient"/>
   <!-- <add name="SrisContext" connectionString="Data Source=tcp:PPYCHA,49172;Initial Catalog=SrisDb;Persist Security Info=true; User ID=miso_server; Password='miso4321' " providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SrisContext" connectionString="Data Source=PPYCHA;Initial Catalog=SrisDb;Integrated Security=true" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
</configuration>
